<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Not Found</title>
        <link rel="icon" href="https://storage.googleapis.com/bitlink-image-source/BitLink%20Text.svg?GoogleAccessId=firebase-adminsdk-j7592%40bitlink-project.iam.gserviceaccount.com&Expires=16730323200&Signature=CbZRb3dllT%2FGoGIZEmGkpaEvAdyswnBgulO7K0q%2FHxZ%2BP8uPXZxIheHzLYycTbfsx6me83gpABkbWhhbRtNbNrSbWDmCnYryDJvRD4aQiChjLdUO7dwNaNCj9bm8ro%2FICMiCxfg5HPbB%2FG%2BPVhv1LxnFaccRpylbV3ccU8q4rTuPO6bhgsqxlrM8AJm1NTQBM52Pnugk9v4VrBH5C5BMmxltxv96GNBGjydfCoO4m5mNfyquuJHoxOdDjDMToUZ9lFIKf7miDUdzXT0eVBUneiRNK2jDMBevmttDxgMLARmSVQLtb4mq78po3VfDdzpEo4RHNwC53o1YNP409CgmNQ%3D%3D">
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

        body {
            background-color: #F8FAFB;
            font-family: 'Tilt Warp', cursive;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        main {
            text-align: center;
        }

        h1 {
            font-size: 36px;
            color: #333;
            margin-top: 0;
        }

        p {
            font-size: 18px;
            color: #777;
        }
        </style>
    </head>
    <body>
        <main>
            <h1>404</h1>
            <h1>Page Not Found</h1>
            <p>The requested page could not be found.</p>
        </main>
    </body>
</html>